@media screen and (max-width: 1200px) {
  html,
  body {
    font-size: 16px !important;
  }
  button {
    height: 50px !important;
    font-size: 16px !important;
    width: 330px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    margin-top: 0 !important;
  }
  h1 {
    font-size: 24px !important;
    padding-top: 25px !important;
    width: 270px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .intro {
    height: 465px !important;
  }
  .intro2 {
    height: 70px !important;
  }
  .header_inner {
    padding-top: 20px;
  }
  .header_inner img {
    width: 80px;
  }
  .header_inner nav {
    display: none !important;
  }
  .header_inner blockquote {
    display: none !important;
  }
  .menu {
    display: flex !important;
    height: 20px;
  }
  .tagline h1 {
    font-size: 24px;
    padding-top: 70px;
    text-align: left;
    width: 330px;
    margin: 0 !important;
  }
  .tagline h2 {
    font-weight: normal;
    font-size: 16px !important;
    margin-top: 0;
    width: 130px;
    text-align: left;
  }
  .tagline button {
    margin-top: 190px !important;
  }
  .project {
    min-height: 380px;
  }
  .project blockquote {
    border-width: 2px !important;
    padding: 25px !important;
    font-size: 16px;
    text-align: center;
  }
  .description {
    width: 330px;
    padding: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .background {
    height: 710px !important;
  }
  .choose_pet {
    margin-top: 25px !important;
  }
  a {
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .pet {
    height: 160px !important;
    width: 330px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .pet h2 {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    padding-left: 20px !important;
    font-size: 20px;
  }
  .pet blockquote {
    padding-left: 25px !important;
    padding-top: 0 !important;
    width: 80px;
    font-size: 16px;
    text-align: center !important;
  }
  .pet blockquote a {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .pet img {
    height: 160px;
    border-radius: 50px;
  }
  .reasons {
    height: 450px !important;
  }
  .reasons h1 {
    margin-bottom: 10px;
  }
  .reason {
    width: 330px !important;
    height: 70px !important;
    margin-top: 15px !important;
    padding-left: 25px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .reason img {
    height: 47px !important;
  }
  .reason blockquote {
    width: 200px;
  }
  .heard {
    background: #FFCC62 !important;
  }
  .med {
    background: #FEDAA4 !important;
  }
  .reviews {
    height: 670px !important;
  }
  .review {
    margin-top: 25px !important;
    flex-direction: column;
  }
  .review_text {
    width: 330px !important;
    display: inline !important;
    height: 530px !important;
    order: 1;
  }
  .review_text img {
    height: 250px;
    width: 330px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50px;
  }
  .text {
    padding-bottom: 5%;
    text-align: center;
    width: 300px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .text h2 {
    font-size: 20px;
    padding: 10px 0 !important;
  }
  .text blockquote {
    text-align: center !important;
    padding: 0 !important;
  }
  .arrow {
    margin-top: 540px !important;
    position: absolute;
  }
  .arrow img {
    width: 45px !important;
  }
  .arrow1 {
    order: 2;
    margin-right: 70px;
  }
  .arrow2 {
    order: 3;
    margin-left: 70px;
  }
  .another_help {
    height: 400px !important;
  }
  .another_help button {
    margin: 0;
  }
  .another_help h1 {
    margin-bottom: 25px;
  }
  .path_help {
    width: 330px !important;
    height: 60px !important;
    padding: 0 !important;
    margin: 0 auto 15px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .path_help blockquote {
    width: 270px;
    text-align: center;
  }
  .path_help img {
    width: 47px;
    padding-left: 25px !important;
  }
  .footer {
    height: 150px !important;
    width: 330px !important;
    padding-top: 25px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .footer blockquote {
    padding-bottom: 5px !important;
    font-size: 14px;
  }
  .social_network img {
    width: 28px;
  }
  .facebook {
    margin-right: 10px !important;
  }
  .navigation {
    margin-top: 10px !important;
    font-size: 12px;
    width: 330px;
  }
  .menu_search {
    margin-top: 0 !important;
    margin-bottom: 30px !important;
  }
  .menu_search h1 {
    margin-bottom: 30px !important;
    padding-top: 0 !important;
  }
  .menu_first_line {
    margin-bottom: 20px !important;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu_first_line button {
    height: 100px !important;
    width: 160px !important;
  }
  .menu_first_line img {
    height: 50px;
    margin: 10px 47px 40px !important;
  }
  .menu_first_line blockquote {
    margin: 80px -7px 40px !important;
    position: absolute;
    padding: 0;
    width: 160px;
  }
  .second_picture {
    display: none;
  }
  .menu_second_line {
    display: block !important;
    width: 330px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .menu_second_line blockquote {
    font-weight: bold;
    margin-left: 0;
    margin-right: 10px;
  }
  .menu_second_line select {
    height: 45px !important;
    font-size: 16px !important;
    width: 200px !important;
  }
  .menu_third_line {
    display: block !important;
    width: 330px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .menu_third_line blockquote {
    font-weight: bold;
  }
  .menu_third_line blockquote {
    text-align: center;
  }
  .menu_third_line_block {
    width: 330px !important;
    margin-bottom: 10px;
  }
  .first {
    width: 115px !important;
  }
  .second {
    width: 200px !important;
  }
  .third {
    width: 330px !important;
  }
  .pets {
    padding-bottom: 0 !important;
  }
  .pages {
    width: 330px !important;
    margin: 30px auto;
  }
  .numbers {
    width: 180px !important;
  }
  .circle {
    width: 20px !important;
    height: 20px !important;
  }
  .all_description_pet {
    margin-top: 60px !important;
    margin-bottom: 30px !important;
  }
  .photo button {
    height: 18px !important;
  }
  .another_photo {
    width: 75px;
    margin: 15px auto;
  }
  .another_photo img {
    width: 18px;
  }
  .pet_photo {
    width: 274px !important;
    height: 274px !important;
    border-radius: 50px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .pet_photo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
    object-position: 0 0;
    margin-top: 10px;
  }
  .description_pet h1 {
    padding-top: 0;
    margin-top: -425px;
    margin-bottom: 350px;
    width: 330px;
    font-size: 30px !important;
  }
  .short_description_pet {
    width: 330px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .short_description_pet img {
    height: 12px;
  }
  .description_pet_text {
    width: 330px !important;
    padding: 10px !important;
    margin: 15px auto;
  }
  .description_pet_text blockquote {
    padding: 20px 15px 20px !important;
    border-width: 2px !important;
    text-align: center;
  }
}
/*# sourceMappingURL=mobile_version.css.map */